@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 146.9deg 20.57% 27.65%;
    --primary-foreground: 146.67deg 23.48% 22.55%;

    --secondary: 68.57deg 16.28% 91.57%;
    --secondary-foreground: 75deg 3.33% 76.47%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 146.9deg 20.57% 27.65%;
    --primary-foreground: 146.67deg 23.48% 22.55%;

    --secondary: 68.57deg 16.28% 91.57%;
    --secondary-foreground: 75deg 3.33% 76.47%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

.hero-background {
  --s: 40px; /* control the size of the grid */
  --t: 1px; /* the thickness */

  background: hsl(var(--primary))
    conic-gradient(
      from 90deg at var(--t) var(--t),
      #0000 25%,
      hsl(var(--primary-foreground)) 0
    )
    0 0 / var(--s) var(--s);
}

.square-background {
  --s: 30px; /* control the size of the grid */
  --t: 1px; /* the thickness */

  background: hsl(var(--secondary))
    conic-gradient(
      from 90deg at var(--t) var(--t),
      #0000 25%,
      hsl(var(--secondary-foreground)) 0
    )
    0 0 / var(--s) var(--s);
}

.contact-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container-masonry {
  column-count: 4;
  gap: 8px;

  img {
    max-width: 100%;
    display: block;
  }

  figure {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 8px;
    break-inside: avoid;
  }

  figure > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }

  figure a {
    color: black;
    text-decoration: none;
  }

  figcaption {
    grid-row: 2;
    grid-column: 1;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.2em 0.5em;
    justify-self: start;
  }
}

@media screen and (max-width: 768px) {
  .container-masonry {
    column-count: 2;

    figure:nth-child(n + 7) {
      display: none;
    }
  }
}
